@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;700&display=swap');

@mixin theme-color-grabber($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $warn: map-get($theme, warn);

  .primary-color {
    color: mat-color($primary);
  }
  .accent-color {
    color: mat-color($accent);
  }
  .warn-color {
    color: mat-color($warn);
  }
}

html {
    font-family: 'Merriweather Sans', sans-serif;
}
